[submodule "code/veld_code__udpipe"]
	path = code/veld_code__udpipe
	url = https://github.com/veldhub/veld_code__udpipe.git
[submodule "code/veld_code__xml_xslt_transformer"]
	path = code/veld_code__xml_xslt_transformer
	url = https://github.com/veldhub/veld_code__xml_xslt_transformer.git
[submodule "code/veld_code__analyse_conllu"]
	path = code/veld_code__analyse_conllu
	url = https://github.com/veldhub/veld_code__analyse_conllu.git
[submodule "data/veld_data__eltec_original_selection"]
	path = data/veld_data__eltec_original_selection
	url = https://github.com/veldhub/veld_data__eltec_original_selection.git
[submodule "data/veld_data__eltec_conllu_stats"]
	path = data/veld_data__eltec_conllu_stats
	url = https://github.com/veldhub/veld_data__eltec_conllu_stats.git
[submodule "code/veld_code__downloader"]
	path = code/veld_code__downloader
	url = https://github.com/veldhub/veld_code__downloader.git
