[submodule "veld_code_15_udpipe"]
	path = veld_code_15_udpipe
	url = https://github.com/acdh-oeaw/veld_code_15_udpipe.git
[submodule "veld_code_16_xml_xslt_transformer"]
	path = veld_code_16_xml_xslt_transformer
	url = https://github.com/acdh-oeaw/veld_code_16_xml_xslt_transformer.git
[submodule "veld_data_12_eltec_selection"]
	path = veld_data_12_eltec_original_selection
	url = https://github.com/acdh-oeaw/veld_data_12_eltec_original_selection.git
[submodule "veld_code_19_analyse_conllu"]
	path = veld_code_19_analyse_conllu
	url = https://github.com/acdh-oeaw/veld_code_19_analyse_conllu.git
[submodule "veld_data_16_eltec_conllu_stats"]
	path = veld_data_16_eltec_conllu_stats
	url = https://github.com/acdh-oeaw/veld_data_16_eltec_conllu_stats.git
